body{
    background-color: #ffe4c4;
    background-image: none;
}
.outer-container{
    height: 90vh;
    margin: 2%;
    background-color:rgb(115, 145, 172);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: auto;
    color: black;

}
.outer-container h1{
    font-size: 2.5rem;
    /* color: #87a0a1; */
    
    text-align: center;
}

.cloud {
    /* background-image: url(../../../public/cloud.png); */
    background-repeat: no-repeat;
    background-position: center;  /* Center the image */
    background-size: contain;     /* Fit entire image within container */
    width: 80%;                  /* Increase container width */
    height: 80%;                 /* Maintain height percentage */
    margin: 20px 0;              /* Add spacing if needed */
}